@font-face {
	font-family: "gg sans";
	src: url("fonts/ggsansvf-VF.woff2") format("woff2-variations");
	font-weight: 125 950;
	font-stretch: 75% 125%;

	font-style: normal;
}

:root {
	color-scheme: light dark;

	--username-color: light-dark(rgb(50, 51, 56), rgb(255, 255, 255));
	--message-color: light-dark(rgb(47, 48, 53), rgb(223, 224, 226));
	--timestamp-color: light-dark(rgb(112, 113, 122), rgb(155, 156, 163));
	--tag-background-color: rgba(151, 151, 159, 0.2);
	--card-background-color: light-dark(rgb(255, 255, 255), rgb(57, 58, 65));
	--card-border: 1px solid light-dark(rgb(226, 226, 228), rgb(68, 69, 76));
	--card-shadow: light-dark(
		0 12px 36px 0 hsl(none 0% 0% / 0.12),
		0 12px 24px 0 hsl(none 0% 0% / 0.24)
	);

	--color-blurple: rgb(88, 101, 242);
	--color-light-blurple: rgb(224, 227, 255);
	--color-dark-blurple: rgb(25, 23, 92);
	--color-green: rgb(83, 237, 126);
	--color-light-green: rgb(200, 255, 239);
	--color-dark-green: rgb(0, 41, 32);
	--color-pink: rgb(255, 76, 210);
	--color-light-pink: rgb(245, 201, 255);
	--color-dark-pink: rgb(56, 31, 44);
	--color-black: rgb(0, 0, 0);
	--color-dark: rgb(31, 31, 31);
	--color-white: rgb(255, 255, 255);

	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;

	--radius-none: 0px;
	--radius-xs: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;
	--radius-xl: 24px;
	--radius-xxl: 32px;
	--radius-round: 2147483647px;

	--space-xxs: 4px;
	--space-xs: 10px;
	--space-sm: 16px;
	--space-md: 20px;
	--space-lg: 24px;
	--space-xl: 30px;
	--space-xxl: 40px;
}

html {
	font-family:
		"gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: radial-gradient(
		105.43% 127.05% at 50.1% 127.05%,
		var(--color-blurple) 20.65%,
		var(--color-dark-blurple) 85.16%
	);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	margin: 0;
}

.card {
	box-shadow: var(--card-shadow);
	background-color: var(--card-background-color);
	border-radius: var(--radius-sm);
	padding: var(--space-sm);
	display: flex;
	gap: var(--space-sm);
	border: var(--card-border);
	word-break: break-word;
	max-width: 400px;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: var(--radius-round);
}

.username {
	font-weight: var(--font-weight-medium);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: var(--username-color);
	gap: var(--space-xxs);

	& > :not(:first-child) {
		font-size: 0.75rem;
	}
}

.tag {
	display: flex;
	font-weight: var(--font-weight-semibold);
	align-items: center;
	background-color: var(--tag-background-color);
	border-radius: var(--radius-xs);
	gap: var(--space-xxs);
	padding: 0 var(--space-xxs);

	&.bot {
		color: var(--color-white);
		background-color: var(--color-blurple);
	}

	& img {
		width: 12px;
		height: 12px;
	}
}

.timestamp {
	color: var(--timestamp-color);
}

.message {
	color: var(--message-color);

	& img {
		max-width: 100%;
		border-radius: var(--radius-sm);
		margin-top: var(--space-xxs);
		display: block;
	}
}
