@font-face {
	font-family: "gg sans";
	font-stretch: 75% 125%;
	font-style: normal;
	font-weight: 125 950;
	src: url("fonts/ggsansvf-VF.woff2") format("woff2-variations");
}

@font-face {
	font-family: "gg mono";
	font-style: normal;
	font-weight: 400;
	src: url("fonts/ggsansmono-Normal.woff2") format("woff2");
}

@font-face {
	font-family: "gg mono";
	font-style: normal;
	font-weight: 700;
	src: url("fonts/ggsansmono-Bold.woff2") format("woff2");
}

:root {
	--font-primary:
		"gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-code:
		"gg mono", "Source Code Pro", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

	--card-primary-bg: light-dark(rgb(255, 255, 255), rgb(57, 58, 65));
	--border-normal: 1px solid light-dark(rgb(210, 211, 217), rgb(72, 74, 90));
	--shadow-high: 0 12px 36px 0 hsl(none 0% 0% / 0.12);

	--background-spoiler: rgba(151, 151, 159, 0.08);
	--background-code: light-dark(rgb(244, 245, 250), rgb(53, 55, 72));
	--background-mod-strong: rgba(151, 151, 159, 0.2);

	--text-primary: light-dark(rgb(50, 51, 56), rgb(255, 255, 255));
	--text-default: light-dark(rgb(47, 48, 53), rgb(223, 224, 226));
	--text-muted: light-dark(rgb(112, 113, 122), rgb(155, 156, 163));
	--text-link: light-dark(rgb(0, 116, 227), rgb(123, 176, 245));

	--color-blurple: rgb(88, 101, 242);
	--color-light-blurple: rgb(224, 227, 255);
	--color-dark-blurple: rgb(25, 23, 92);
	--color-green: rgb(83, 237, 126);
	--color-light-green: rgb(200, 255, 239);
	--color-dark-green: rgb(0, 41, 32);
	--color-pink: rgb(255, 76, 210);
	--color-light-pink: rgb(245, 201, 255);
	--color-dark-pink: rgb(56, 31, 44);
	--color-black: rgb(0, 0, 0);
	--color-dark: rgb(31, 31, 31);
	--color-white: rgb(255, 255, 255);

	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;

	--radius-none: 0px;
	--radius-xs: 4px;
	--radius-sm: 8px;
	--radius-md: 12px;
	--radius-lg: 16px;
	--radius-xl: 24px;
	--radius-xxl: 32px;
	--radius-round: 2147483647px;

	--space-xxs: 4px;
	--space-xs: 10px;
	--space-sm: 16px;
	--space-md: 20px;
	--space-lg: 24px;
	--space-xl: 30px;
	--space-xxl: 40px;

	color-scheme: dark;
}

html {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-family: var(--font-primary);
	background: radial-gradient(
		105.43% 127.05% at 50.1% 127.05%,
		var(--color-blurple) 20.65%,
		var(--color-dark-blurple) 85.16%
	);
}

a {
	color: var(--text-link);
	text-decoration: none;
}

h1 {
	font-size: 1.5rem;
	color: var(--text-primary);
}

h2 {
	font-size: 1.25rem;
	color: var(--text-primary);
}

h3 {
	font-size: 1rem;
	color: var(--text-primary);
}

small {
	font-size: 0.875rem;
	color: light-dark(rgb(109, 110, 119), rgb(173, 174, 180));
}

code {
	padding: 0 0.2em;
	font-family: var(--font-code);
	font-size: 0.875rem;
	line-height: 1.125rem;
	background: var(--background-code);
	border: var(--border-normal);
	border-radius: var(--radius-xs);
}

pre {
	padding: 0.5em;
	overflow-x: auto;
	font-size: 0.875rem;
	line-height: 1.5;
	white-space: pre-wrap;
	background: var(--background-code);
	border: var(--border-normal);
	border-radius: var(--radius-xs);
}

.card {
	display: flex;
	gap: var(--space-sm);
	max-width: 400px;
	padding: var(--space-sm);
	word-break: break-word;
	background-color: var(--card-primary-bg);
	border: var(--border-normal);
	border-radius: var(--radius-sm);
	/* box-shadow: var(--card-shadow); */
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: var(--radius-round);
}

.username {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-xxs);
	align-items: center;
	font-weight: var(--font-weight-medium);
	color: var(--text-primary);

	& > * {
		font-size: 0.75rem;
	}
}

.tag {
	display: flex;
	gap: var(--space-xxs);
	align-items: center;
	padding: 0 var(--space-xxs);
	font-weight: var(--font-weight-semibold);
	background-color: var(--background-mod-strong);
	border-radius: var(--radius-xs);

	&.bot {
		color: var(--color-white);
		background-color: var(--color-blurple);
	}

	& img {
		width: 12px;
		height: 12px;
	}

	& img[src=""] {
		display: none;
	}
}

.timestamp {
	color: var(--text-muted);
}

.message {
	color: var(--text-default);

	& span {
		background-color: var(--background-spoiler);
		border-radius: var(--radius-xs);
	}

	& img {
		display: block;
		max-width: 100%;
		margin-top: var(--space-xxs);
		border-radius: var(--radius-sm);
	}
}
